//====================================================================================================
.footer {

    &__top {
        background-color: $secondary-color-2;
        padding: 50px 0 50px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__body {
    }

    &__row {
        margin: 0 -15px;
        display: flex;
        align-items: flex-start;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 16.6667%;

        &:last-child {
            flex: 0 1 33.334%;
        }
    }

    &__label {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color: $white;
        margin: 0 0 20px 0;
    }

    &__menu {
    }

    &__contacts {
    }

    &__bottom {
        background-color: #FAFAFA;
        padding: 25px 0 25px 0;
    }

    &__title {
    }

    &__socials {
    }
}
.menu-footer {

    &__list {
    }

    &__item {
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: $white;
        text-decoration: none;
    }
}
.contacts-footer {
	display: flex;
	flex-direction: column;

    &__item {
        color: $white;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.2px;
        text-decoration: none;
        padding: 0px 0px 0px 34px;
        min-height: 30px;
    
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }

        &_phone {
            background: url("@img/footer-phone.svg") 0 0 no-repeat;
        }

        &_map {
            background: url("@img/footer-nav.svg") 0 0 no-repeat;
        }

        &_email {
            background: url("@img/footer-email.svg") 0 0 no-repeat;
        }
    }
}
.social {
    display: flex;
    align-items: center;

    &__item {
        text-decoration: none;

        &:not(:last-child) {
            margin: 0px 20px 0px 0px;
        }
    }
}


//====================================================================================================
