// $pc = 1080px; ПК, ноутбуки, некоторые планшеты в горизонтальном положении ====================================================================================================
@media (max-width: $pc) {
// HEADER ===============================================================================================================================================

// MAIN ===============================================================================================================================================
//
// ОСНОВНОЕ СОДЕРЖИМОЕ ================================================================================================================================
    
// КАРТОЧКИ С УСЛУГАМИ ================================================================================================================================
    
// Designing Better Experience ==================================================================================================================================

// Practice Advice ==============================================================================================================================================
    
// Who We Are ===================================================================================================================================================
.page {
    &__about-us {
        background: #ffffff;
        padding: 0 0 40px 0;
    }
}
.abouts-us-header-block {
	margin: 0 0 60px 0;
}
.abouts-us {

    &__body {
        display: flex;
        justify-content: space-between;
    }
}
.about-us {
	&__top {
		padding: 0;
	}
}
.abous-us {
	
	&__content {
		padding: 0 0 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		flex: 0 1 100%;
        
        &__content > *:not(:last-child) {
            margin: 0;
        }
	}
	&__title {
        text-align: center;
		margin:0;
		padding: 0;

		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}	
	&__sub-title {
        text-align: center;
	}
}
.item-about-us {
	&__body {
        display: block;
	}
    &__subtitle {
		white-space: normal;
        width: 100%;
    }
}
// Clients =====================================================================================================================================

// Subscribe ================================================================================================================================

// Get In Touch ================================================================================================================================

// Contact Us ================================================================================================================================

// FOOTER ================================================================================================================================
}




// $tablet = 991.98px; Планшеты, некоторые телефоны в горизонтальном положении ====================================================================================================
@media (max-width: $tablet) {
// HEADER ===============================================================================================================================================

// MAIN ===============================================================================================================================================
//
// ОСНОВНОЕ СОДЕРЖИМОЕ ================================================================================================================================
.page {
	&__image {
        opacity: 0.5; 
	}
}
._ibg img {
    object-position: right;
    
}
// КАРТОЧКИ С УСЛУГАМИ ================================================================================================================================
.page {
	background-color: #FAFAFA;
	
	&__services {
		position: relative;
		z-index: 2;
		margin: -111px 0px 0px 0px;
	}
}
.services {
	&__body {
		display: flex;
        flex-wrap: wrap;
		margin: -10px -10px;
	}
	&__column {
		flex: 1 1 50%;
		padding: 10px 10px;
	}
}
// Designing Better Experience ==================================================================================================================================
.advantages {

	&__container {
	}

	&__header {
		margin: 0px 0px 50px 0px;
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -10px -10px;
	}
	&__column {
		padding: 10px 10px;
		flex: 0 1 25%;		
	}
	&__item {
		background-color: $white;
		padding: 30px;
		font-weight: 700;
		text-align: center;
		min-width: 200px;

	}

}	
// Practice Advice ==============================================================================================================================================
.page {

	&__advantages {
		padding: 80px 0 0 0;
		background-color: #FAFAFA;
	}
}
.advice {
	padding: 80px 0 80px 0;
	&__container {
	}

	&__header {
		margin: 0 0 45px 0;
	}
	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
	}
	&__item {
		min-width: 180px;
	}
	&__content {
		padding: 15px;
	}
}	      
// Who We Are ===================================================================================================================================================
.abouts-us {
	&__body {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
.abous-us {
	&__content {
		padding: 0;
	}	
	&__content > *:not(:last-child) {
		margin: 0 0 30px 0;
	}
	&__title {
		&:not(:last-child) {
			margin: 30px 0px 20px 0px;
		}
	}	
}
.whoweare {
	&__video {
		flex: 0 0 57%; 
// 57% = ширина видео 600 / ширина контейнтной части 1046
		position: relative;
		padding: 0px 0px 55% 0px;
// 42% = высота видео 442 / ширина контейнтной части 1046
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
// Clients =====================================================================================================================================

// Subscribe ================================================================================================================================

// Get In Touch ================================================================================================================================
.getintouch {
	padding: 80px 0 80px 0;

	&__header {
		margin: 0 0 80px 0;
	}
	&__body {
		display: flex;
		justify-content: center;
        flex-wrap: wrap;
		align-items: center;
    }    
}
.item-getintouch {
	flex: 0 1 100%;
	padding: 50px 40px 50px 40px;

	&_active {
		padding: 50px 40px 50px 40px;
	}
	&__emails {
        display: flex;
        flex-direction: column;
	}
}
// Contact Us ================================================================================================================================

// FOOTER ================================================================================================================================
}





// $mobile = 767.98px; Телефоны L ====================================================================================================
@media (max-width: $mobile) {
// HEADER ===============================================================================================================================================
    
// MAIN ===============================================================================================================================================
//
// ОСНОВНОЕ СОДЕРЖИМОЕ ================================================================================================================================
    
// КАРТОЧКИ С УСЛУГАМИ ================================================================================================================================
        
// Designing Better Experience ==================================================================================================================================
    
// Practice Advice ==============================================================================================================================================
            
// Who We Are ===================================================================================================================================================
    
// Clients =====================================================================================================================================
    
// Subscribe ================================================================================================================================
.subscribe {
	&__body {
		padding: 30px 20px 30px 20px;
		display: flex;
		flex-direction: column;
	}
	&__header {
		max-width: 100%;
	}
}
.subcribe {
	&__title {
		text-align: center;
		margin: 0 0 20px 0;
	}
}    
// Get In Touch ================================================================================================================================
    
// Contact Us ================================================================================================================================
.contact-us {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
        gap: 20px;
	}
	&__title {
        text-align: center;
	}
	&__sub-title {
        text-align: center;
	}
	&__button {
		display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 0 1 50%;
	}
}    
// FOOTER ================================================================================================================================
.footer {
        &__container {
        justify-content: center;
        gap: 15px;
    }
    &__row {
        margin: -15px -15px;
        flex-wrap: wrap;
    }
    &__column {
        padding: 15px 15px;
        flex: 1 1 16.6667%;

        &:last-child {
            flex: 1 1 33.334%;
        }
    }
}
}



// $mobileSmall = 479.98px; Телефоны S ====================================================================================================
@media (max-width: $mobileSmall) {
// HEADER ===============================================================================================================================================
    
// MAIN ===============================================================================================================================================
//
// ОСНОВНОЕ СОДЕРЖИМОЕ ================================================================================================================================
.main-block {
	&__body {
		padding: 184px 0px 191px 0px;
		max-width: 100%;
	}	
	&__body > *:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}
	&__title {
		font-size: 40px;
		color: $text-color;
	}
	&__text {
		font-size: 18px;
		color: $text-color;
	}
	&__buttons {
		gap: 0;
	}
	&__button {
        flex: 1 1 100%;
	}
}        
// КАРТОЧКИ С УСЛУГАМИ ================================================================================================================================
        
// Designing Better Experience ==================================================================================================================================
    
// Practice Advice ==============================================================================================================================================
.page {

	&__advantages {
		padding: 80px 0 0 0;
		background-color: #FAFAFA;
	}
}
.advice {
	padding: 50px 0 30px 0;
	&__column {
		flex: 1 1 auto;
	}
}  
// Who We Are ===================================================================================================================================================
.item-about-us {
	&__subtitle {
// для ... в конце предложения
		white-space: normal;
		width: 100%;
	}
}
// Clients =====================================================================================================================================
    
// Subscribe ================================================================================================================================
.subscribe {
	padding: 20px 0 20px 0;
	&__header {
		max-width: 100%;
	}
	&__form {
		flex: 0 1 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		& > * {
			margin: 10px 0 0 0;
		}
	}
	&__input {
		flex: 1 1 auto;
		min-height: 58px;
		border-radius: 5px 5px 5px 5px;
	}

	&__button {
		border: none;
		border-radius: 5px 5px 5px 5px;
		display: flex;
		flex: 1 1 auto;
	}
}
.subcribe {
	&__title {
		text-align: center;
		margin: 0 0 20px 0;
	}
}    
// Get In Touch ================================================================================================================================
    
// Contact Us ================================================================================================================================
.contact-us {
	&__button {
        flex: 0 1 100%;
	}
}      
// FOOTER ================================================================================================================================
.footer {
    &__container {
        justify-content: center;
        gap: 15px;
    }
    &__title {
        text-align: center;
    }
}
}